# BASE DE DATOS
---

## SQL & NoSQL | Python

## Tomando como base el diagrama entidad relación de la figura superior, responder

Escribir las sentencias en SQL

## 1er Ejercicio

Obtener los datos completos de los empleados.

```sql
SELECT * FROM employees;
```

## 2do Ejercicio

Obtener los datos completos de los departamentos.

```sql
SELECT * FROM departments;
```

## 3er Ejercicio

Obtener la cantidad de empleados de sexo femnino.

```sql
SELECT COUNT(*) 
FROM employees 
WHERE gender ='F';
```

## 4to Ejercicio

Obtener los empleados que son o han sido "staff". Recordar que es una consulta multi tablas.

```sql
SELECT e.emp_no, birth_date, first_name, last_name, gender, hire_date 
FROM employees AS e 
JOIN titles AS t ON e.emp_no = t.emp_no 
WHERE t.title = 'Staff'
```

## 5to Ejercicio

Agregar el departamento Cienca de Datos.

```sql
INSERT INTO departments (dept_no,dept_name)
VALUES ("d010","Ciencia de Datos");
```

## 6to Ejercicio

Agregar el empleado "Pepe" y hacerlo jefe ("manager") del departamento Ciencia de Datos.

```sql
INSERT INTO employees (first_name, last_name, category, department)
VALUES ("Pepe", "Argento", "Manager", "Ciencia de Datos");
```

## 7mo Ejercicio

Borrar el empleado "Pepe".

```sql
DELETE FROM employees 
WHERE first_name = 'Pepe';
```

## 8vo Ejercicio

Obtener el promedio de salarios por departamento.

```sql
SELECT departments.dept_name as depts,
AVG(salaries.salary) as avg_salary 
FROM departments  LEFT JOIN dept_emp
ON dept_emp.dept_no = departments.dept_no 
LEFT JOIN employees 
ON dept_emp.emp_no = employees.emp_no 
LEFT JOIN salaries 
ON salaries.emp_no = employees.emp_no 
GROUP BY departments.dept_name;
```

### 9no Ejercicio

Compartir el código en Python para crear en MongoDB una base de datos denominada "weatherHistory" y una colección con el mismo nombre. Cargar los datos del archivo csv denominado weatherHistory.csv

In [2]:
#Imports
!python -m pip install pymongo==3.7.2
import pymongo
import pandas as pd
import csv

Requirement already satisfied: pymongo==3.7.2 in /home/eleana/Documents/git/pp12021grupo2_a1-pp12021grupo2_a1/jupyter/lib/python3.8/site-packages (3.7.2)

# Conexión a MongoDB

In [24]:

client = pymongo.MongoClient('localhost', 27017)
db = client['weatherHistory']

## Eliminar la colecction anterior para crear una nueva
db.weatherHistory.drop()
collection = db['weatherHistory']
df = pd.read_csv("weatherHistory.csv")

## 
data = df.to_dict(orient = "records") 
collection.insert_many(data)

print(client.list_database_names())
df.shape
df

['admin', 'config', 'local', 'meteorology', 'weatherHistory']

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

### 10mo Ejercicio

Compartir el código en en Python que devuelva la cantidad de registros insertados en la colección anterior.

In [25]:
collection.estimated_document_count()

96453