# BASE DE DATOS
---
## SQL & NoSQL | Python

## Tomando como base el diagrama entidad relación de la figura superior, responder

Escribir las sentencias en SQL

### 1er Ejercicio

Obtener los datos completos de los empleados.

```sql
SELECT * FROM employees;
```

### 2do Ejercicio

Obtener los datos completos de los departamentos.

```sql
SELECT * FROM departments;
```

### 3er Ejercicio

Obtener la cantidad de empleados de sexo femnino.

```sql
SELECT COUNT(*) 
FROM employees 
WHERE gender ='F';
```

### 4to Ejercicio

Obtener los empleados que son o han sido "staff". Recordar que es una consulta multi tablas.

```sql
SELECT e.emp_no, birth_date, first_name, last_name, gender, hire_date 
FROM employees AS e 
JOIN titles AS t ON e.emp_no = t.emp_no 
WHERE t.title = 'Staff'
```

### 5to Ejercicio

Agregar el departamento Cienca de Datos.

```sql
INSERT INTO departments (dept_name)
VALUES ("Ciencia de Datos");
```

### 6to Ejercicio

Agregar el empleado "Pepe" y hacerlo jefe ("manager") del departamento Cienca de Datos.

```sql
INSERT INTO employees (first_name, last_name, category, department)
VALUES ("Pepe", "Argento", "Manager", "Ciencia de Datos");
```

### 7mo Ejercicio

Borrar el empleado "Pepe".

```sql
DELETE FROM employees 
WHERE first_name = 'Pepe';
```

### 8vo Ejercicio

Obtener el promedio de salarios por departamento.

```sql
SELECT departments.dept_name as depts,
AVG(salaries.salary) as avg_salary 
FROM departments  LEFT JOIN dept_emp
ON dept_emp.dept_no = departments.dept_no 
LEFT JOIN employees 
ON dept_emp.emp_no = employees.emp_no 
LEFT JOIN salaries 
ON salaries.emp_no = employees.emp_no 
GROUP BY departments.dept_name;
```

### 9no Ejercicio

Compartir el código en Python para crear en MongoDB una base de datos denominada "weatherHistory" y una colección con el mismo nombre. Cargar los datos del archivo csv denominado weatherHistory.csv

In [ ]:
#Imports
!python -m pip install pymongo==3.7.2
import pymongo
import pandas as pd

Requirement already satisfied: pymongo==3.7.2 in /usr/local/lib/python3.7/dist-packages (3.7.2)

In [ ]:
#Conectar a un servidor mongo

In [ ]:
#Conexión a MongoDB
uri = 'mongodb://'
client = pymongo.MongoClient(uri, 27017)
db = client.beltqgh7fx6sbpu
client.stats
client.list_database_names()
#Leemos el csv
with open('weatherHistory.csv') as finput:
  data = finput.readlines()
  #Quitamos los encabezamos y los agregamos a una variable
  column_names = data.pop(0).split(',')
  data_dict = []
  #Recorremos el archivo mientras se insertan
  for line in data:
    row_list =line.rstrip('\n').split(',')
    row_dict = dict(zip(column_names,row_list))
    data_dict.append(row_dict)
finput.close()
collection.insert_many(data_dict)
client.list_database_names()

In [ ]:
print(collection.count_documents({}))

### 10mo Ejercicio

Compartir el código en en Python que devuelva la cantidad de registros insertados en la colección anterior.

In [ ]:
collection.estimated_document_count()