# WebScraping 

------

## Obtener cotizaciones de la bolsa de Madrid

In [9]:
#Importamos la Librerias
import requests
from bs4 import BeautifulSoup
import csv
from datetime import datetime
import pandas as pd
from matplotlib import pyplot
import matplotlib

In [10]:
#En enlace de la Bolsa Madrid
url="http://www.bolsamadrid.es/esp/aspx/Indices/Resumen.aspx"
path="bolsaMadrid.csv"

In [11]:
req = requests.get(url).text
soup = BeautifulSoup(req, "lxml")

In [12]:
table = soup.find("table", {"id":"ctl00_Contenido_tblÍndices"})

In [13]:
name=""
price=""
numRow=0

for row in table.find_all("tr"):
  numCell=0
  for cell in row.find_all("td"):
    if numCell == 0:
      name=cell.text
    if numCell == 2:
      price=cell.text
    numCell+=1
  numRow+=1
  with open(path, 'a', newline="") as csv_file:
    writer = csv.writer(csv_file)
    writer.writerow([name, price, datetime.now()])
  csv_file.close()

In [14]:

df = pd.read_csv(path)
columnsName = ["Nombre", "Ultimo", "Fecha"]
df.columns = columnsName
df = df.dropna()
print("Mayor ganancia:", df['Ultimo'].max(), "\nMayor pérdida:", df['Ultimo'].min())
df=df.sort_values("Ultimo")
df.to_csv(path, index=False)
df

Mayor ganancia: 910,30
Mayor pérdida: 1.022,30

                     Nombre    Ultimo                       Fecha
0     Índice ITX Inverso X5  1.022,30  2021-09-26 23:58:13.777594
156   Índice ITX Inverso X5  1.022,30  2021-09-27 00:00:27.845389
91      IBEX 35® Inverso X5  1.060,00  2021-09-27 00:00:27.841561
1       IBEX 35® Inverso X5  1.060,00  2021-09-26 23:58:13.773856
2          IBEX 35® Energía  1.228,80  2021-09-26 23:58:13.773410
..                      ...       ...                         ...
75   Índice BBVA Inverso X5  9.629,20  2021-09-26 23:58:13.777541
90      IBEX 35® Inverso X3  9.794,60  2021-09-27 00:00:27.841507
76      IBEX 35® Inverso X3  9.794,60  2021-09-26 23:58:13.773762
149   Índice TEF Inverso X3    910,30  2021-09-27 00:00:27.844993
77    Índice TEF Inverso X3    910,30  2021-09-26 23:58:13.777136

[156 rows x 3 columns]