# WebScraping 

------

## Obtener cotizaciones de la bolsa de Madrid

In [160]:
#Importamos la Librerias
import requests
from bs4 import BeautifulSoup
import csv
from datetime import datetime
import pandas as pd
from matplotlib import pyplot
import matplotlib

In [161]:
#Enlace de la Bolsa Madrid
url="https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000"
path='csv/bolsaMadrid.csv'

In [162]:
#haremos el request a esa ruta
#Procesamos el HTML mediante BeautifulSoap
req = requests.get(url).text
soup = BeautifulSoup(req, "lxml")

In [163]:
# Obtenemos la tabla por un ID específico
table = soup.find("table", {"id":"ctl00_Contenido_tblAcciones"})

In [164]:
name=""
price=""
numRow=0

for row in table.find_all("tr"):
  numCell=0
  for cell in row.find_all("td"):
    if numCell == 0:
      name=cell.text
      print("Accion:", name)
    if numCell == 1:
      price=cell.text
      print("Ultimo:", price,'\n')
    numCell+=1
  numRow+=1
  #Creamos el CSV
  with open(path, 'a',  newline="") as csv_file:
    writer = csv.writer(csv_file)
    writer.writerow([name, price, datetime.now()])
  csv_file.close()

Accion: ACCIONA
Ultimo: 151,2000

Accion: ACERINOX
Ultimo: 12,1450

Accion: ACS
Ultimo: 22,7300

Accion: AENA
Ultimo: 145,5500

Accion: ALMIRALL
Ultimo: 12,9300

Accion: AMADEUS
Ultimo: 60,4600

Accion: ARCELORMIT.
Ultimo: 27,7000

Accion: B.SANTANDER
Ultimo: 3,3455

Accion: BA.SABADELL
Ultimo: 0,6728

Accion: BANKINTER
Ultimo: 5,1500

Accion: BBVA
Ultimo: 5,7690

Accion: CAIXABANK
Ultimo: 2,6610

Accion: CELLNEX
Ultimo: 53,5800

Accion: CIE AUTOMOT.
Ultimo: 22,4400

Accion: ENAGAS
Ultimo: 19,6250

Accion: ENDESA
Ultimo: 18,6600

Accion: FERROVIAL
Ultimo: 26,7000

Accion: FLUIDRA
Ultimo: 35,1000

Accion: GRIFOLS CL.A
Ultimo: 20,5000

Accion: IAG
Ultimo: 2,1660

Accion: IBERDROLA
Ultimo: 9,4480

Accion: INDITEX
Ultimo: 31,1500

Accion: INDRA A
Ultimo: 9,4700

Accion: INM.COLONIAL
Ultimo: 8,4900

Accion: MAPFRE
Ultimo: 1,7935

Accion: MELIA HOTELS
Ultimo: 7,0880

Accion: MERLIN
Ultimo: 9,5080

Accion: NATURGY
Ultimo: 23,2500

Accion: PHARMA MAR
Ultimo: 71,3800

Accion: R.E.C.
Ultimo: 17,6500

Accion: REPSOL
Ultimo: 11,5800

Accion: SIEMENS GAME
Ultimo: 20,8100

Accion: SOLARIA
Ultimo: 14,9250

Accion: TELEFONICA
Ultimo: 3,7970

Accion: VISCOFAN
Ultimo: 55,7000

In [165]:
df = pd.read_csv(path)
#Creamos las columnas para el DataFrame
columnsName = ["Accion", "Precio", "Fecha"]
df.columns = columnsName

#Eliminamos Datos NaN
df = df.dropna()

#Convertimos en Precio es float
df['Precio'] = df['Precio'].apply(lambda x: x.replace(',','.'))
df['Precio'] = df['Precio'].astype(float)

#Calculamos Maximo y minimo
print("Mayor ganancia:", df['Precio'].max(), "\nMayor pérdida:", df['Precio'].min())

#Ordenamos la columna Precio
df=df.sort_values("Precio")
df.to_csv(path, index=False)
df

Mayor ganancia: 151.2
Mayor pérdida: 0.6728

         Accion    Precio                       Fecha
0   BA.SABADELL    0.6728  2021-10-16 14:48:00.484458
1   BA.SABADELL    0.6728  2021-10-16 14:47:30.662953
79  BA.SABADELL    0.6728  2021-10-16 14:57:34.445784
2        MAPFRE    1.7935  2021-10-16 14:47:30.686249
3        MAPFRE    1.7935  2021-10-16 14:48:00.511651
..          ...       ...                         ...
67         AENA  145.5500  2021-10-16 14:47:30.661669
74         AENA  145.5500  2021-10-16 14:57:34.443697
68      ACCIONA  151.2000  2021-10-16 14:48:00.474491
69      ACCIONA  151.2000  2021-10-16 14:47:30.656728
71      ACCIONA  151.2000  2021-10-16 14:57:34.440757

[105 rows x 3 columns]